# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. For more information, run: `gcloud topic gcloudignore`.

#!include:.gitignore

.gcloudignore
.git
.gitignore

# GAE does not understand pipenv.
/Pipfile
/Pipfile.lock

# There is no use for linter config files.
/.pylintrc
/mypy.ini
/pyproject.toml
